DATABASE_URL=postgresql://postgres.ynevkcxfjggsqkwmvpgh:4eVVfB68JGiufL53@aws-1-ap-south-1.pooler.supabase.com:6543/postgres
FLASK_ENV=development
JWT_SECRET_KEY=super-secret-key-change-this-to-long-random-string
